$blue: #3bbfce;

$margin: 16px;



#divFirst {
  background-color: $blue;
  height:500px;
  width:500px;
  a:link {
    color: darken($blue, 9%);
  }
  a:visited {
    color: gray;
  }
  a:hover {
    color: red;
  }
  a:active {
    color: yellow;
  }
  p:first-letter {
    font-size: 40px;
  }
  p:first-line {
    color: purple;
  }
}
#divFirst:hover {
  background-color: yellow;
}
body:after {
  content:"The End.";
  font-size:40px;
  color:blueviolet;
}