#divSecond{
  background-color: #2d672d;
  color: #ac2925;
  h1 {
    font-size: 24px;
    color:inherit;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  h1, h2, p {
    margin-left: 1em;
  }
  small {
    font-size: 2em;//according to father's font-size
    margin-left: 1em;//according to self's font-size
  }
}