#boxModel{
  width:auto;
  margin-left:100px;
  margin-right:auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: palevioletred;
  height:100px;
  padding:0 20px;
  border:1px solid #2d672d;
  box-sizing: border-box;
  overflow: hidden;
  div{
    margin:10px;
  }
}
#boxModel-inline{
  p:nth-child(1){
    font-size: 16px;
    line-height: 16px;
    strong{
      font-size: 60px;
      vertical-align: bottom;
    }
  }
  p:nth-child(2){
    font-size: 14px;
    line-height: 1em;
    span {
      font-size: 250%;
      line-height: 1em;
    }
    a {
      border: 5px solid blue;
      //line-height: 2em;
    }

  }
  //OR
  //p:nth-child(2){
  //  font-size: 14px;
  //  line-height: 1;
  //  span {
  //    font-size: 250%;
  //  }
  //}
  p:nth-child(3){
    span{
      border:1px solid red;
      line-height:1;
      padding:4px;
      margin:4px;
      background-color: rgba(255,1,1,0.5);
    }
  }
  p:nth-child(4){
    font-size: 15px;
    line-height: 18px;
    img.one {
      height: 30px;
      margin: 0;
      padding: 0;
      border: none;
      //vertical-align: 50%;
      border: 1px dotted;
    }
    img.two {
      margin: -15px;
      padding: 3px;
      border: 1px solid;
    }
  }
}
#boxModel-inline-block{
  div {
    margin: 1em 0;
    border: 1px solid;
  }
  p {
    border: 1px dotted;
  }
  div:nth-child(1) p {
    display: block;
    width: 6em;
    text-align: center;
  }
  div:nth-child(2) p {
    display: inline;
    width: 6em;
    text-align: center;}
  div:nth-child(3) p {
    display: inline-block;
    width: 6em;
    text-align: center;
  }
}
