body{
  background-color: #2aabd2;
  overflow-x:hidden;
}
.chapter{
  color: purple;
  font-size: 300%;
  font-family:Monaco;
}
.noReusableButton{
  padding: 6px 16px;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77a0bb, #58a);
  border-radius: 4px;
  box-shadow: 0 1px 5px gray;
  color: white;
  text-shadow: 0 -1px 1px #335166;
  font-size: 20px;
  line-height: 30px;
}
.reusableButton{
  padding: .3em .8em;
  border: 1px solid rgba(0,0,0,.1);
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white; text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5;

}
.small{
  font-size: 100%;
  background-color: #c00;
}
.large{
  font-size: 175%;
  background-color: #6b0;
}
.p1{
  color:#2d672d;
  background-color: currentColor;
}
#inherit{
  height:200px;
  width:200px;
  position: relative;
  color:#fff;
  background-color: #6b0;
  border: 1px solid #c00;
  padding:10px;
}
#inherit:before {
  content: "";
  position: absolute;
  top: -.4em;
  left: 1em;
  padding: .35em;
  background: inherit;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
#sp{
  height:200px;
  width:200px;
  background: url(../img/marker_red.png) top right,
              url(../img/marker_red.png) bottom right,
              url(../img/marker_red.png) bottom left;
  background-size: 2em 2em;
  background-repeat: no-repeat;
}


