#semi-boder{
  border: 10px solid rgba(255, 0, 255, 0.3);
  background: white;
  background-clip: padding-box;
}
#muti-border{
  height:20px;
  background: yellowgreen;
  margin:15px;
  box-shadow: 0 0 0 10px #655,
  0 0 0 15px deeppink,
  0 2px 5px 15px rgba(0,0,0,.6);
}
#outline-border{
  background: #655;
  border: 10px solid #655;
  outline: 1px dashed #fff;
  outline-offset:-15px;
  height:100px;
  width:200px;
  border-radius: 10px;
  color:#fff;
  margin:30px;
  padding:10px;
}
#background{
  //plan1
  //padding: 10px;
  //background: url(../img/marker_red.png) no-repeat #58a bottom right; /* or 100% 100% */
  //background-origin: content-box;
  //plan2
  //background: url(../img/marker_red.png) no-repeat bottom right #58a;
  //background-position: right 20px bottom 10px;
  //plan3
  background: url(../img/marker_red.png) no-repeat #58a;
  background-position: calc(100% - 20px) calc(100% - 10px);

  height:100px;
}
#rect-round{
  background: tan;
  border-radius: .8em;
  padding: 1em;
  box-shadow: 0 0 0 .6em #655;
  outline: .7em solid #655;
  margin:20px;
  width:20%;
}