#oneSideShadow{
  height:100px;
  width:100px;
  background-color: greenyellow;
  box-shadow: 0px -6px 10px -5px rgba(255,0,0,1);

}
#twoSideShadow{
  height:100px;
  width:100px;
  box-shadow: 5px 0 5px -5px black,
        -5px 0 5px -5px black;
}
#irregularShadow{
  height:100px;
  color: deeppink;
  border: 10px dashed;
  margin:15px;
  text-shadow: .1em .2em yellow;
  -webkit-filter: drop-shadow(.1em .1em .5em rgba(255,255,0,1));
  filter: drop-shadow(.05em .05em .1em gray);
}
#filter{
  width:200px;
  transition: 1s filter, 1s -webkit-filter;
  -webkit-filter: sepia() saturate(4) hue-rotate(295deg);
  filter: sepia() saturate(4) hue-rotate(295deg);
}
#filter:hover,
#filter:focus {
  -webkit-filter: none;
  filter: none;
}
#blend{
  width:200px;
  height:200px;
  background-size: cover;
  background-position: center;
  background-color: hsl(335, 100%, 50%);
  background-blend-mode: luminosity;
  transition: .5s background-color;
  background-image: url("../img/tiger.jpg");
}
#blend:hover {
  background-color: transparent;
}


