#hyphens{
  width:200px;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}
dt, dd { display: inline; margin: 0;}
dd + dt::before {
  content: '\A';
  white-space: pre;
}
dd + dd::before {
  content: ', ';
  font-weight: normal;
}
#striped-text{
  width:200px;
  padding: .5em;
  line-height: 1.5;
  background: beige;
  background-size: auto 3em;
  background-origin: content-box;
  background-image: linear-gradient(rgba(0,0,0,.2) 50%,
          transparent 0);
}
code {
  display: block;
  margin: 1em 0;
  white-space: pre;
  font:normal 100%/1.5 "Monaco";
  tab-size: 4;
}
@font-face {
  font-family: Ampersand;
  src: local('Baskerville-Italic'),
  local('GoudyOldStyleT-Italic'),
  local('Palatino-Italic'),
  local('BookAntiqua-Italic');
  unicode-range: U+26;
}
#ampersands{
  font-family: Ampersand,"Monaco";
  font-size: 100px;
}
#underline {
  font:normal 150%/1.5 "Monaco";
  background-color: #fff;
  a{
    background: linear-gradient(gray, gray) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.15em;
    text-shadow: .1em 0 white, -.1em 0 white;
  }
  span {
    background: linear-gradient(90deg,
            gray 66%, transparent 0) repeat-x;
    background-size: .4em 2px;
    background-position: 0 1.1em;
    text-shadow: .1em 0 white, -.1em 0 white;
  }
  a.error{
    background: linear-gradient(-45deg, transparent 40%, red 0, red 60%, transparent 0) 0 1.1em,
    linear-gradient(45deg, transparent 40%, red 0, red 60%, transparent 0) .2em 1.1em;
    background-repeat: repeat-x;
    background-size: .4em .2em;
    text-shadow: .05em 0 white, -.05em 0 white;
  }
}
#letterpress{
  font:normal 150%/1.5 "Monaco";
  background: hsl(210, 13%, 60%);
  color: hsl(210, 13%, 30%);
  text-shadow: 0 .05em .05em hsla(0,0%,100%,.8);
}
#stroked{
  font:bold 300%/1.5 "Monaco";
  background: deeppink;
  color: white;
  text-shadow: 2px 2px black, -2px -2px black,
  2px -2px black, -2px 2px black;
}
h1.strokedSVG {
  font: 500%/1 Rockwell, serif;
  background: deeppink;
  color: white;
}
h1.strokedSVG  text {
  fill: currentColor;
}
h1.strokedSVG  svg { overflow: visible }
h1.strokedSVG  use {
  stroke: black;
  stroke-width: 6;
  stroke-linejoin: round;
}
#glowing{
  background: #203;
  color: white;
  font:bold 300%/1.5 "Monaco";
  transition: 1s;
  &:hover {
    text-shadow: 0 0 .1em, 0 0 .3em;
  }
}
@mixin text-3d($color: white, $depth: 5) {
  $shadows: ();
  $shadow-color: $color;
  @for $i from 1 through $depth {
    $shadow-color: darken($shadow-color, 10%);
    $shadows: append($shadows, 0 ($i * 1px) $shadow-color, comma);
  }
  color: $color;
  text-shadow: append($shadows, 0 ($depth * 1px) 10px black, comma);
}
#extruded{
  font:bold 300%/1.5 "Monaco";
  background: #58a;
  @include text-3d(#eee, 4);
}
@function text-retro($color: black, $depth: 8) {
  $shadows: ();
  @for $i from 1 through $depth {
    $shadows: append($shadows,
                    ($i*1px) ($i*1px) $color, comma);
  }
  @return $shadows;
}
#text-retro {
  font:bold 300%/1.5 "Monaco";
  color: white;
  background: hsl(0,50%,45%);
  text-shadow: text-retro();
}
.circular,.circularJS{
  width:200px;
  margin: 3em auto 0;
  path {
    fill: none;
  }
  svg {
    display: block;
    overflow: visible;
  }
}