#hyphens{
  width:200px;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}
dt, dd { display: inline; margin: 0;}
dd + dt::before {
  content: '\A';
  white-space: pre;
}
dd + dd::before {
  content: ', ';
  font-weight: normal;
}
#striped-text{
  width:200px;
  padding: .5em;
  line-height: 1.5;
  background: beige;
  background-size: auto 3em;
  background-origin: content-box;
  background-image: linear-gradient(rgba(0,0,0,.2) 50%,
          transparent 0);
}
code {
  display: block;
  margin: 1em 0;
  white-space: pre;
  font:normal 100%/1.5 "Monaco";
  tab-size: 4;
}
@font-face {
  font-family: Ampersand;
  src: local('Baskerville-Italic'),
  local('GoudyOldStyleT-Italic'),
  local('Palatino-Italic'),
  local('BookAntiqua-Italic');
  unicode-range: U+26;
}
#ampersands{
  font-family: Ampersand,"Monaco";
  font-size: 100px;
}
#underline {
  font:normal 150%/1.5 "Monaco";
  background-color: #fff;
  a{
    background: linear-gradient(gray, gray) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.15em;
    text-shadow: .1em 0 white, -.1em 0 white;
  }
  span {
    background: linear-gradient(90deg,
            gray 66%, transparent 0) repeat-x;
    background-size: .4em 2px;
    background-position: 0 1.1em;
    text-shadow: .1em 0 white, -.1em 0 white;
  }
  a.error{
    background: linear-gradient(-45deg, transparent 40%, red 0, red 60%, transparent 0) 0 1.1em,
    linear-gradient(45deg, transparent 40%, red 0, red 60%, transparent 0) .2em 1.1em;
    background-repeat: repeat-x;
    background-size: .4em .2em;
    text-shadow: .05em 0 white, -.05em 0 white;
  }
}