#width-adjust{
  width: -webkit-min-content;
  width: min-content;
  margin: auto;
}
#styleWithNum li:only-child{
  color:red;
}
#styleWithNum li:first-child:last-child{
  color:red;
}
#styleWithNum li:first-child:nth-last-child(2){
  color:green;
}
/* Define mixin */
@mixin n-items($n) {
  &:first-child:nth-last-child(#{$n}),
  &:first-child:nth-last-child(#{$n}) ~ & {
    @content;
  }
}
/* Use it like so: */
li {
  @include n-items(3) {
    color: blue;
  }
}
li:first-child:nth-last-child(n+4),
li:first-child:nth-last-child(n+4) ~ li {
  /* Target list items iff the list
     contains at least four items */
}
li:first-child:nth-last-child(-n+4),
li:first-child:nth-last-child(-n+4) ~ li {
  /* Target list items iff the list
     contains at most four items */
}
li:first-child:nth-last-child(n+2):nth-last-child(-n+6),
li:first-child:nth-last-child(n+2):nth-last-child(-n+6) ~ li {
  /* Target list items iff the list
     contains 2-6 items */
}
#footer {
  padding: 1em;
  padding: 1em calc(50% - 450px);
  background: #333;
  color: #ffffff;
}
.vertical1 {
  display: table;
  width: 100%;
  height: 100px;
  background-color: #0074d9;
  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #2d672d;
    background-clip: content-box;
  }
}
.vertical2 {
  text-align: center;
  background: #c0c0c0;
  border: #a0a0a0 solid 1px;
  margin: 20px;
  height:300px;
  &:before {
    content: '';
    /*   content: '';
      margin-left: -0.25em; */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;
    border: #a0a0a0 solid 1px;
    background: #f5f5f5;
  }
}
.vertical3 {
  position: relative;
  height:200px;
  background-color: #0074d9;
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2d672d;
  }
}

.vertical4 {
  background-color: #449d44;
  display: flex;
  height:200px;
  .centered {
    margin: auto;
    max-width:200px;
    background-color:#0074d9;
  }
}
.vertical5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18em;
  height: 10em;
  background-color: #0074d9;
}
.footerTest{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
}
.footerTest header{
  background-color: #0074d9;
  color: #FFF;
  text-align: center;
}
.footerTest main{
  height: 500px;
  background-color: #449d44;
  flex: 1;
}
.footerTest footer{
  background-color: #333;
  color:#fff;
  flex: 2;
}
