#width-adjust{
  width: -webkit-min-content;
  width: min-content;
  margin: auto;
}
#styleWithNum li:only-child{
  color:red;
}
#styleWithNum li:first-child:last-child{
  color:red;
}
#styleWithNum li:first-child:nth-last-child(2){
  color:green;
}
/* Define mixin */
@mixin n-items($n) {
  &:first-child:nth-last-child(#{$n}),
  &:first-child:nth-last-child(#{$n}) ~ & {
    @content;
  }
}
/* Use it like so: */
li {
  @include n-items(3) {
    color: blue;
  }
}
li:first-child:nth-last-child(n+4),
li:first-child:nth-last-child(n+4) ~ li {
  /* Target list items iff the list
     contains at least four items */
}
li:first-child:nth-last-child(-n+4),
li:first-child:nth-last-child(-n+4) ~ li {
  /* Target list items iff the list
     contains at most four items */
}
li:first-child:nth-last-child(n+2):nth-last-child(-n+6),
li:first-child:nth-last-child(n+2):nth-last-child(-n+6) ~ li {
  /* Target list items iff the list
     contains 2-6 items */
}


#footer {
  padding: 1em;
  padding: 1em calc(50% - 450px);
  background: #333;
  color: #ffffff;
}
