* {
  box-sizing: border-box; }

#simple-test {
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  background-color: #1f7e9a;
  height: 300px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center; }
  #simple-test div {
    background-color: #2d672d;
    border: 2px solid chartreuse;
    flex-grow: 2;
    height: 20px; }
  #simple-test .high {
    height: 40px;
    flex-basis: 100px; }
  #simple-test .special {
    align-self: flex-start; }

#touzi {
  display: flex;
  flex-wrap: wrap;
  background-color: black; }
  #touzi > div {
    display: flex;
    width: 104px;
    height: 104px;
    margin: 16px;
    padding: 4px;
    background-color: #e7e7e7;
    box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
    border-radius: 10%; }
    #touzi > div .point {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin: 4px;
      background-color: #333;
      box-shadow: inset 0 3px #111, inset 0 -3px #555; }
  #touzi .one-container {
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
    justify-content: center; }
  #touzi .two-container {
    justify-content: space-between;
    flex-direction: column; }
    #touzi .two-container .point:nth-child(2) {
      align-self: flex-end; }
  #touzi .third-container {
    justify-content: space-between; }
    #touzi .third-container .point:nth-child(2) {
      align-self: center; }
    #touzi .third-container .point:nth-child(3) {
      align-self: flex-end; }
  #touzi .four-container {
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; }
    #touzi .four-container .point:nth-child(2n+1) {
      margin-right: 30px; }
  #touzi .four-container-other {
    align-content: space-between;
    flex-wrap: wrap; }
    #touzi .four-container-other .row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
  #touzi .five-container {
    align-content: space-between;
    flex-wrap: wrap; }
    #touzi .five-container .row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    #touzi .five-container .row:nth-child(2) {
      justify-content: center; }
  #touzi .six-container {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between; }

.grid {
  background-color: #3bbfce;
  padding: 1em; }
  .grid .row {
    display: flex;
    flex-wrap: nowrap;
    margin: -1em 0 1em -1em; }
    .grid .row .cell {
      padding: 1em 0 0 1em;
      text-align: center;
      flex: 1;
      color: white;
      display: flex; }
      .grid .row .cell .item {
        background-color: rgba(147, 128, 108, 0.2);
        border-radius: 4px;
        padding: .8em 1em 0;
        width: 100%; }
        .grid .row .cell .item:after {
          content: '\00a0';
          display: block;
          margin-top: 1em;
          height: 0;
          visibility: hidden; }
    .grid .row .c-100 {
      flex: 0 0 100%; }
    .grid .row .c-50 {
      flex: 0 0 50%; }
  .grid .row.responsive {
    flex-wrap: wrap; }
    @media all and (max-width: 768px) {
      .grid .row.responsive .cell {
        flex: 0 0 100%; } }

.HolyGrail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }
  .HolyGrail header,
  .HolyGrail footer {
    flex: none;
    color: white;
    padding: 1em;
    text-align: center; }
  .HolyGrail header {
    background-color: #1f7e9a; }
  .HolyGrail footer {
    background-color: #55595c; }
  .HolyGrail .HolyGrail-body {
    display: flex;
    flex: 1 0 auto;
    /* 2 */ }
    .HolyGrail .HolyGrail-body .HolyGrail-content {
      flex: 1; }
    .HolyGrail .HolyGrail-body .HolyGrail-nav, .HolyGrail .HolyGrail-body .HolyGrail-ads {
      /* two aside fix to 12em */
      flex: 0 0 12em;
      padding: 1em;
      border-radius: 3px;
      background: rgba(147, 128, 108, 0.1); }
    .HolyGrail .HolyGrail-body .HolyGrail-nav {
      /* nav left */
      order: -1; }
  @media all and (max-width: 768px) {
    .HolyGrail .HolyGrail-body {
      flex-direction: column;
      flex: 1; }
    .HolyGrail .HolyGrail-nav,
    .HolyGrail .HolyGrail-ads,
    .HolyGrail .HolyGrail-content {
      flex: auto; } }

#input-addon {
  width: 500px; }
  #input-addon .InputAddOn {
    margin: 1em;
    display: flex; }
  #input-addon .InputAddOn-field:first-child, #input-addon .InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px; }
  #input-addon .InputAddOn-field:not(:last-child), #input-addon .InputAddOn-item:not(:last-child) {
    border-right: 0; }
  #input-addon .InputAddOn-field:last-child, #input-addon .InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0; }
  #input-addon .InputAddOn-field, #input-addon .InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: .5em .75em; }
  #input-addon .InputAddOn-field {
    flex: 1; }
  #input-addon .InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666;
    font: inherit;
    font-weight: 400; }

.hang-layout {
  display: flex;
  flex-wrap: wrap;
  background-color: white; }
  .hang-layout .media {
    display: flex;
    flex-basis: 50%;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
    color: #2b2d2f; }
    .hang-layout .media .media-figure {
      margin-right: 1em;
      width: 50px; }
    .hang-layout .media .media-body {
      flex: 1; }

/*# sourceMappingURL=flex.css.map */
