.modal-overlay{
    display:none;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    position:absolute;
    width:50%;
    background-color: #fff;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.modal-title {
    overflow: hidden;
    padding: 5px 10px;
    background-color: #2aabd2;
    color:white;
}
.modal-title .title{
    float:left;
    margin:0;
}
.modal-title .modal-close{
    float:right;
}
.modal-body {
    padding: 5px 10px;
}
.modal-footer {
    text-align: center;
    padding: 10px;
}

